<%- include('partials/header') %>

    <div class="main centered">
        <h1 class="text-center fw-bold">Expense_Tracker</h1>
        <div class="container text-center mt-5 row-gap-2">
            <a href="/login" class="login-btn btn btn-light">
                <h2>Login</h2>
            </a>
            <a href="/register" class="register-btn btn btn-dark">
                <h2>register</h2>
            </a>
        </div>
    </div>
    
<%- include('partials/footer') %>