<%- include('partials/header') %>
    <div class="main centered px-4 pt-2  text-center border-bottom">
        <h1 class="text-center fw-bold">Expense_Tracker</h1>
        <div class="container text-center mt-4 row-gap-2">
            <a href="/login" class="login-btn btn btn-light">
                <h2>Login</h2>
            </a>
            <a href="/register" class="register-btn btn btn-dark">
                <h2>register</h2>
            </a>
        </div>

        <div class="overflow-hidden mt-4" style="max-height: 50vh;"> 
        <div class="container px-5"> <img src="assets/Dashboard2.png" class="img-fluid border rounded-4 shadow-lg mb-4" alt="Example image" width="700" height="500" loading="lazy"> 
        </div> 
    </div>
    </div>
    
    
<%- include('partials/footer') %>