<%- include('partials/header') %>
<div class="container m-0 " style="width: 100%;">
    <h1>Register</h1>
    <div class="row">
        <div class="col-8">
            <div class="card p-2">
                <form action="/register" method="POST"> 
                    <div class="bd-example m-0-auto border-0"> <form>
                        <div class="mb-3">
                        <label for="name" class="form-label">name</label>
                        <input type="input" class="form-control" name="name" fdprocessedid="blj7zl">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email address</label>
                        <input type="email" class="form-control" name="email" aria-describedby="emailHelp" fdprocessedid="lvxfsc">
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" fdprocessedid="blj7zl" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-dark" fdprocessedid="iwg69h">Submit</button>
                </form>
            </div>
        </div>
    </div> 
    <div class="col-4">
            <div class="card social-block">
                <div class="card body">
                    <a href="/auth/google" class="btn btn-block fw-bold">
                        <i class="fab fa-google"></i>
                        Sign in with google
                    </a>
                </div>
            </div>
        </div>        
            
</div>   


<%- include('partials/footer') %>